$fontFamily: 'Josein Sans',
sans-serif;

.footer__item {
    position: fixed;
    bottom: 0;
    // left: 0;
    max-width: 1440px;
    margin: auto;
    font-family: $fontFamily;
    font-size: 0.8em;
}