.landingContainer {
    position: relative;

    .landingContent {
        position: relative;
    }

    .content {
        .contentContainer {
            .contentHeading {
                .linkPages {
                    color: #0f0f0f;

                    &:hover {
                        color: #b80774;
                    }
                }
            }
        }
    }
}

// .content {
//     img {
//         border-radius: 15px;
//         width: 100%;
//         height: 700px;
//         object-fit: cover;

//         &:hover {
//             opacity: 90%;
//         }
//     }
// }

.contentContainer {
    margin: 20px 0;

}

@media (min-width: 320px) and (max-width: 480px) {
    .landingContainer {
        position: relative;
        margin: auto;
        justify-content: center;
        margin-top: 3em;
        padding: 20px;

        .landingHeader {
            padding: 5em 0;

            .TextHeader {
                font-size: 56px;
                color: #0f0f0f;
                font-weight: 700;
                text-align: center;
                display: block;
            }
        }
    }

    .contentHeading {
        .gra {
            color: #757575;
            text-transform: uppercase;
        }

        .link {
            .linkPages {
                font-size: 20px;
                font-weight: 600;
            }

        }
    }

    .content {
        img {
            border-radius: 15px;
            width: 100%;
            height: 400px;
            object-fit: cover;

            &:hover {
                opacity: 90%;
            }
        }
    }

}

@media (min-width: 481px) and (max-width: 768px) {
    .landingContainer {
        position: relative;
        margin: auto;
        justify-content: center;
        margin-top: 3em;
        padding: 20px;

        .landingHeader {
            padding: 5em 0;

            .TextHeader {
                font-size: 56px;
                color: #0f0f0f;
                font-weight: 700;
                text-align: center;
                display: block;
            }
        }
    }

    .contentHeading {
        .gra {
            color: #757575;
            text-transform: uppercase;
        }

        .link {
            .linkPages {
                font-size: 20px;
                font-weight: 600;
            }

        }
    }

    .content {
        img {
            border-radius: 15px;
            width: 100%;
            height: 400px;
            object-fit: cover;

            &:hover {
                opacity: 90%;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .landingContainer {
        position: relative;
        margin: auto;
        justify-content: center;
        max-width: 800px;
        margin-top: 3em;
        padding: 20px;

        .landingHeader {
            padding: 5em 0;

            .TextHeader {
                font-size: 56px;
                color: #0f0f0f;
                font-weight: 700;
                text-align: center;
                display: block;
            }
        }
    }

    .contentHeading {
        .gra {
            color: #757575;
            text-transform: uppercase;
        }

        .link {
            .linkPages {
                font-size: 20px;
                font-weight: 600;
            }

        }
    }

    .content {
        img {
            border-radius: 15px;
            width: 100%;
            height: 500px;
            object-fit: cover;

            &:hover {
                opacity: 90%;
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1200px) {
    .landingContainer {
        position: relative;
        margin: auto;
        justify-content: center;
        margin-top: 3em;
        max-width: 1440px;
        padding: 20px;

        .landingHeader {
            padding: 5em 0;

            .TextHeader {
                font-size: 56px;
                color: #0f0f0f;
                font-weight: 700;
                text-align: center;
                display: block;
            }
        }
    }

    .contentHeading {
        .gra {
            color: #757575;
            text-transform: uppercase;
        }

        .link {
            .linkPages {
                font-size: 20px;
                font-weight: 600;
            }

        }
    }

    .content {
        img {
            border-radius: 15px;
            width: 100%;
            height: 600px;
            object-fit: cover;

            &:hover {
                opacity: 90%;
            }
        }
    }
}

@media (min-width: 1201px) {
    .landingContainer {
        position: relative;
        margin: auto;
        justify-content: center;
        max-width: 1200px;
        margin-top: 3em;

        .landingHeader {
            padding: 5em 0;

            .TextHeader {
                font-size: 56px;
                color: #0f0f0f;
                font-weight: 700;
                text-align: center;
                display: block;
            }
        }
    }

    .content {
        img {
            border-radius: 15px;
            width: 100%;
            height: 700px;
            object-fit: cover;

            &:hover {
                opacity: 90%;
            }
        }
    }

    .contentHeading {
        .gra {
            color: #757575;
            text-transform: uppercase;
        }

        .link {
            .linkPages {
                font-size: 30px;
                font-weight: 600;
            }

        }
    }
}