body {
    background-color: #e9edeb;
    color: #f4f6f5;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar: none;
    scrollbar-width: none;
    scrollbar-color: transparent;
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #c6d2d0;
    border-radius: 20px;
}

.CrvaVwePrt {
    margin: 0 0 0 0;
    width: 100vw;
    overflow-x: hidden;
    position: fixed;
}
